<%- include("partials/header") %>

<div class="forgot-container">

  <div class="forgot-card">

    <h2 class="forgot-title">
      Forgot Password
    </h2>

    <form class="forgot-form" action="/forgot-password" method="POST">

      <input 
        class="forgot-input"
        type="email"
        name="email"
        placeholder="Enter Registered Email"
        required
      >

      <button class="forgot-btn" type="submit">
        Send OTP
      </button>

    </form>

  </div>

</div>

<%- include("partials/footer") %>
