<%- include("partials/header") %>

<%- include("navbar") %>

<link rel="stylesheet" href="/css/home.css">

<div class="home-container">

  <h1 class="home-welcome-text">
    Welcome to Coastal Koffix
  </h1>

</div>

<%- include("partials/footer") %>
