<%- include("partials/header") %>

<div class="resetpass-container">

<form class="resetpass-form" action="/reset-password" method="POST">

<input type="hidden" name="email" value="<%= email %>">

<input class="resetpass-input" type="password" name="password" placeholder="New Password" required>

<input class="resetpass-input" type="password" name="confirmPassword" placeholder="Confirm Password" required>

<button class="resetpass-btn" type="submit">
Update Password
</button>

</form>

</div>

<%- include("partials/footer") %>
