.resetpass-container {
  width: 330px;
  margin: 100px auto;
  padding: 25px;
  background: #111;
  border-radius: 10px;
}

.resetpass-form {
  display: flex;
  flex-direction: column;
}

.resetpass-input {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  background: #1c1c1c;
  color: white;
}

.resetpass-btn {
  padding: 12px;
  background: #F4B41A;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
